<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal" ng-click="cleanAction()">
  Create {{getCapitalizedType()}}
</button>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <form name="typeForm" novalidate>
                <div class="modal-body">
                    <h1>Create {{getCapitalizedType()}}</h1>
                    <ul>
                        <li>
                            <input type="text" name="typeName" placeholder="Name..." ng-model="newtypeData.properties.name" required/>
                        </li>
                        <li ng-show="isArtist"><input input type="number" name="founded" placeholder="Founded..." ng-model="newtypeData.properties.founded" ng-required ="isArtist"/></li>
                        <li ng-show="isAlbum"><input input type="number" name="released" placeholder="Released..." ng-model="newtypeData.properties.released" ng-required="isAlbum"/></li>
                        <li ng-show="isTrack"><input input type="text" name="length" placeholder="Length..." ng-model="newtypeData.properties.length" ngRequired="isTrack"/></li>
                    </ul>
                </div>
                <div  class="panel leftPanel"sortable-type-list="selectedlist" receive-to-list="listselected">
                </div>
                <div class="panel rightPanel">
                    <ul>
                      <li draggable-type="{{el._id}}" connect-to-sortable="selectedlist" class="bm-selecttype" ng-repeat="el in listlib" ng-bind="el.properties.name"></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cleanAction()" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="createAction()" ng-disabled="typeForm.$invalid" data-dismiss="modal">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>