MusicLibBackend/server/node_modules/**
MusicLibBackend/node_modules/**
MusicLibFrontend/app/node_modules/**
MusicLibFrontend/node_modules/**
MusicLibFrontend/bower_components
MusicLibFrontend/app/lib
neo4j-community-2.2.0
MusicLibFrontend/build
neo4j-community-2.2.0/**/*
MusicLibFrontend/build/**/*
.DS_Store
MusicLibFrontendAngular2/node_modules/**
MusicLibFrontendAurelia/node_modules/**
MusicLibFrontendAurelia/jspm_packages/**
MusicLibFrontendAurelia/dist/**
MusicLibFrontendAngular2/app/*.js
MusicLibFrontendAurelia/app/*.js
neo4j-community-2.2.0/data/graph.db/schema/label/lucene/_2x.cfs

*.cfs
