MusicLibBackend/server/node_modules/**
MusicLibBackend/node_modules/**
MusicLibFrontend/app/node_modules/**
MusicLibFrontend/node_modules/**
MusicLibFrontend/bower_components
MusicLibFrontend/app/lib
neo4j-community-2.2.0
MusicLibFrontend/build
.DS_Store
